@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary-color: hsl(261, 66%, 82%);
    --text-color: hsl(20, 9%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
